@use 'abstracts/breakpoints' as *;

.tasks-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
  align-items: start;

  @include breakpoint-up($breakpoint-lg) {
    grid-template-columns: 280px 1fr;
  }
}